body{
    padding: 0;
    margin: 0;
    height: 100vh;
    background: black;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'spooky';
}

#shadow{
    padding: 0;
    margin: 0;
    color: white;
    cursor: pointer;
    height: 100%;
    width: 100%;
    position: absolute;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 1);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:8vw;
    color: red;
}

@font-face {
    font-family: 'spooky';
    src: url('spooky.ttf') format('truetype');
  }